.wrapper {
  height: 3800px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1080px) {
    height: 3400px;
  }
  @media (max-width: 768px) {
    height: 3300px;
  }
  @media (max-width: 568px) {
    height: 2900px;
  }
  @media (max-width: 440px) {
    height: 2700px;
  }
  @media (max-width: 360px) {
    height: 2400px;
  }
}

.mainImg {
  width: 100%;
  height: auto;
  filter: brightness(50%);
}

.mainDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.mainText {
  font-weight: bold;
  color: white;
  font-size: 32px;
  margin-top: 60px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    font-size: 24px;
  }
  @media (max-width: 568px) {
    font-size: 20px;
    margin-top: 20px;
  }
  @media (max-width: 360px) {
    font-size: 18px;
    margin-bottom: 6px;
  }
}

.subText {
  font-weight: 500;
  color: #b9b9b9;
  font-size: 18px;
  @media (max-width: 1080px) {
    font-size: 12px;
  }
  @media (max-width: 560px) {
    font-size: 12px;
  }
}

.aboutText {
  font-family: "Gotham bold italic";
  font-size: 180px;
  color: white;
  width: 100%;
  height: fit-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 30%);

  @media (max-width: 1080px) {
    font-size: 140px;
  }
  @media (max-width: 768px) {
    font-size: 100px;
  }
  @media (max-width: 568px) {
    font-size: 80px;
  }
  @media (max-width: 440px) {
    font-size: 60px;
  }
}

.divideText {
  font-family: "Gotham bold";
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    font-size: 40px;
  }
  @media (max-width: 568px) {
    font-size: 38px;
  }
  @media (max-width: 360px) {
    font-size: 32px;
  }
}

.detailText {
  text-align: center;
  font-size: 20px;
  font-weight: 500;

  @media (max-width: 1080px) {
    margin: 0 48px;
  }
  @media (max-width: 768px) {
    font-size: 18px;
    margin: 20px 48px;
  }
  @media (max-width: 568px) {
    font-size: 16px;
    margin: 10px 40px;
  }
  @media (max-width: 360px) {
    font-size: 14px;
    margin: 0 36px;
  }
}

.imgContainer {
  width: 100%;
  height: 430px;
  margin: 112px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../public/assets/images/about/rectangle_bg.svg");
  background-repeat: no-repeat;
  background-size: 100% 117px;
  background-position-y: 65%;

  @media (max-width: 1080px) {
    margin: 60px 0;
  }
  @media (max-width: 568px) {
    margin: 40px 0;
  }
  @media (max-width: 440px) {
    margin: 0;
  }
}
