.detailText {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.imgContainer {
  background-color: rgba(0, 71, 255, 0.1);
  width: 100%;
  height: 430px;
  margin: 8rem 0 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
