@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "pretendard";
  src: url("/assets/fonts/Pretendard-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "salvar";
  src: url("/assets/fonts/Salvar-Regular.TTF");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham bold italic";
  src: url("/assets/fonts/Metropolis-BoldItalic.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham bold";
  src: url("/assets/fonts/HomepageBaukasten-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}