@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'pretendard';
    src: url('/assets/fonts/Pretendard-Regular.woff');
    font-weight: 400;
    font-style: normal;
}
