@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
	}
}

body {
	color: #ffffff;

}

/*@font-face {
	font-family: "salvar";
	src: url(/assets/fonts/salvar-font/salvarRegular-gxwoP.ttf);
}

@font-face {
    font-family: 'pretendard';
    src: url('/assets/fonts/Pretendard-1.3.8/web/static/woff2/Pretendard-Medium.woff');
    font-weight: 400;
    font-style: normal;
}*/
